@import url('global.css');

body {
    background-color: var(--primary-color);
}

.menu {
    background-color: var(--nav-bg-color);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.menu .menu__logo {
    height: 30px;
    margin-left: 20px;
}

.menu .menu__lista {
    display: flex;
    justify-content: space-between;
    list-style: none;    
}


.menu .menu__lista .menu__item .menu__link {
    text-decoration: none;
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
}

.menu .menu__lista .menu__item .menu__link--disabled {
    background-color: var(--tertiary-color);
    padding: 8px 20px;
    border-radius: 20px;
    transition: all .9s;
    margin-left: 6px;
}
.menu .menu__lista .menu__item .menu__link--disabled:hover {
    color: var(--tertiary-color);
    background-color: white;
    transition-duration: 1s;
}

/* secção animada */
.channels {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'quicksand', sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 6rem 30%;

    /* position: absolute;
    left: 36vw;
    top: 50vh; */
}

.channels .channels__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.channels .channels__list .channels__items {
    margin: 15px;
}

.channels .channels__slogan {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.2rem;
}

.channels .divider {
    margin: 2.3rem auto;
    height: 5px;
    width: 35rem;
    background-image: var(--divider-bg-color);
}