@import url('global.css');

body {
    background-image: var(divider-bg-color);
}

.menu {
    background-color: var(--nav-bg-color);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .menu__logo {
    height: 30px;
    margin-left: 20px;
}

.menu .menu__lista {
    display: flex;
    justify-content: space-between;
    list-style: none;    
}


.menu .menu__lista .menu__item .menu__link {
    text-decoration: none;
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

.menu .menu__lista .menu__item .menu__link--disabled {
    background-color: var(--tertiary-color);
    padding: 8px 20px;
    border-radius: 20px;
}